<!DOCTYPE html>
<!-- This website template was created by: Nathan Allen Bear -->
<html lang="en-us">
  <head>
    <title></title>
    <meta charset="utf-8">
  </head>
  <body>

    <!-- Use the header area for the website name or logo -->
    <header>
    </header>

    <!-- Use the nave area to add hyperlinks to other pages within the website -->
    <nav>
    </nav>

    <!-- use the main area to add the main content of the webpage -->
    <main>
    </main>

    <!-- Use the footer area to add webpade footer content -->
    <footer>
    </footer>

  </body>
</html>
